<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/master.css">
    <title>Home</title>
  </head>
  <body>
    <h1>Login please</h1>
    <a href="/login"><button>Login Here</button></a>

    <h1>Welcome, {{#info}}{{userName}}{{/info}}</h1>

  </body>
</html>
